html
{
	SCROLLBAR-FACE-COLOR: #EAEAEA; 
	SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; 
	SCROLLBAR-SHADOW-COLOR: #cccccc; 
	SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; 
	SCROLLBAR-ARROW-COLOR:  #cccccc; 
	SCROLLBAR-TRACK-COLOR: #FFFFFF; 
	SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
}