<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- ============作业============= -->
	<!-- 
	<bean id="QuizFacade" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager" ><ref bean="transactionManager" /></property>
		<property name="target"><ref local="QuizService"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly,-OrderException</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="QuizService" class="com.zhjedu.exam.service.impl.AssignmentWServiceImpl">
		<property name="assignmentWManager" ><ref bean="assignmentWManager" /></property>
	</bean>
	<bean id="assignmentWManager" class="com.zhjedu.exam.manager.impl.AssignmentWManager">
		<property name="sessionFactory" ><ref bean="sessionFactory" /></property>
	</bean>
	 -->
	
	<bean id="assignmentWFacade" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager" ><ref bean="transactionManager" /></property>
		<property name="target"><ref local="assignmentWService"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly,-OrderException</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="assignmentWService" class="com.zhjedu.exam.service.impl.AssignmentWServiceImpl">
		<property name="assignmentWManager" ><ref local="assignmentWManager" /></property>
	</bean>
	<bean id="assignmentWManager" class="com.zhjedu.exam.manager.impl.AssignmentWManager">
		<property name="hibernateTemplate" ><ref bean="hibernateTemplate" /></property>
	</bean>
</beans>