<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- ============试题维护============= -->
	<bean id="questionFacade" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager" ><ref bean="transactionManager" /></property>
		<property name="target"><ref local="questionService"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly,-OrderException</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="questionService" class="com.zhjedu.exam.service.impl.QuestionService">
		<property name="questionManager" ><ref bean="questionManager" /></property>
	</bean>
	<bean id="mb" class="com.zhjedu.exam.service.impl.MenuBuilder">
		<property name="questionManager" ><ref bean="questionManager" /></property>
	</bean>
	<bean id="questionManager" class="com.zhjedu.exam.manager.impl.QuestionManager">
		<property name="hibernateTemplate" ><ref bean="hibernateTemplate" /></property>
	</bean>
	
	
	<bean id="quizFacade" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager" ><ref bean="transactionManager" /></property>
		<property name="target"><ref local="quizService"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly,-OrderException</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="quizService" class="com.zhjedu.exam.service.impl.QuizService">
		<property name="quizManager" ><ref bean="quizManager" /></property>
	</bean>
	<bean id="quizManager" class="com.zhjedu.exam.manager.impl.QuizManager">
		<property name="hibernateTemplate" ><ref bean="hibernateTemplate" /></property>
	</bean>
</beans>