<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- ============策略维护============= -->
   <bean id="maneuverFacade" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager" ><ref bean="transactionManager" /></property>
		<property name="target"><ref local="maneuverService"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly,-OrderException</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="maneuverService" class="com.zhjedu.exam.service.impl.ManeuverService">
		<property name="maneuverManager" ><ref local="maneuverManager" /></property>
	</bean>
	<bean id="maneuverManager" class="com.zhjedu.exam.manager.impl.ManeuverManager">
		<property name="hibernateTemplate" ><ref bean="hibernateTemplate" /></property>
	</bean>
	
	<!-- ============参加作业============= -->
   <bean id="joinExamFacade" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager" ><ref bean="transactionManager" /></property>
		<property name="target"><ref local="joinExamService"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly,-OrderException</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="joinExamService" class="com.zhjedu.exam.service.impl.joinExamService">
		<property name="joinExamManager" ><ref local="joinExamManager" /></property>
	</bean>
	<bean id="joinExamManager" class="com.zhjedu.exam.manager.impl.joinExamManager">
		<property name="hibernateTemplate" ><ref bean="hibernateTemplate" /></property>
	</bean>
	
	<!-- ============固定试卷============= -->
   <bean id="paperFacade" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager" ><ref bean="transactionManager" /></property>
		<property name="target"><ref local="paperService"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly,-OrderException</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="paperService" class="com.zhjedu.exam.service.impl.PaperService">
		<property name="paperManager" ><ref local="paperManager" /></property>
	</bean>
	<bean id="paperManager" class="com.zhjedu.exam.manager.impl.PaperManager">
		<property name="hibernateTemplate" ><ref bean="hibernateTemplate" /></property>
	</bean>
</beans>