<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- ============作业维护============= -->
	<bean id="txProxyTemplate"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		lazy-init="true">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<!--  property name="target"><ref local="assignmentService"/></property-->
		<property name="transactionAttributes">
			<props>
				<prop key="find*">
					PROPAGATION_REQUIRED,readOnly,-OrderException
				</prop>
				<prop key="save*">
					PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException
				</prop>
				<prop key="update*">
					PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException
				</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="iassignmentService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		parent="txProxyTemplate">
		<property name="target">
			<ref local="assignmentService" />
		</property>
	</bean>
	<bean id="assignmentService"
		class="com.zhjedu.exam.service.impl.AssignmentServiceImpl"
		autowire="byType">
		<property name="assignmentManager">
			<ref local="assignmentManager" />
		</property>
	</bean>
	<bean id="assignmentManager"
		class="com.zhjedu.exam.manager.impl.AssignmentManager">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
</beans>
