.btn_cm{font-size: 12px;width:60px; height:21px;padding:0px;	background: url(../image/btn_cm.jpg) no-repeat center center;border-style: none;}
.btn_cm_small{font-size: 12px;width:45px; height:21px;padding:0px;background: url(../image/btn_cm_small.jpg) no-repeat center center;border-style: none;}

.td_func input{font-size:12px;height:24px; padding:4px; }