<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
     <!--==============================SYSTEM DEFINITION==================-->
     <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <property name="location"><value>jdbc.properties</value></property>
     </bean>
        
     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
         <property name="driverClassName"><value>${jdbc.driverClassName.oracle}</value></property>
         <property name="url"><value>${jdbc.url.oracle}</value></property>
		 <property name="username"><value>${jdbc.username.oracle}</value></property>
		 <property name="password"><value>${jdbc.password.oracle}</value></property>
		 <property name="maxActive"><value>${jdbc.maxActive.oracle}</value></property>
		 <property name="maxIdle"><value>${jdbc.maxIdle.oracle}</value></property>
		 <property name="minIdle"><value>${jdbc.minIdle.oracle}</value></property>
		 <property name="maxWait"><value>${jdbc.maxWait.oracle}</value></property>
		 <property name="defaultAutoCommit"><value>true</value></property>	 
     </bean> 
  
     <bean id="nativejdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.CommonsDbcpNativeJdbcExtractor" lazy-init="true"/>
     <bean id="oracleHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler">
     	<property name="nativeJdbcExtractor">   
     		<ref local="nativejdbcExtractor"/>  
		</property>  
	</bean>
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">	
		<property name="basename"><value>messages</value></property>										
	</bean>
	 <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
          <property name="dataSource"><ref bean="dataSource"/></property>
          <property name="lobHandler"><ref bean="oracleHandler"/></property>
          <property name="mappingResources">
             <list>
             	<value>com/zhjedu/exam/domain/ZjPaper.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjCourse.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuestion.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuestionCategory.hbm.xml</value>           	
             	<value>com/zhjedu/exam/domain/ZjQuestionMatchingAnswer.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuestionMatchingOption.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuestionOption.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuiz.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuizAnswers.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuizExam.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuizFeedback.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuizQuestion.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjUser.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjManeuverList.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjManeuver.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjManeuverItem.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuizMidEc.hbm.xml</value>
             	<value>com/zhjedu/exam/domain/ZjQuestionOptionListOn.hbm.xml</value>
             </list>
          </property> 
          <property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect.oracle}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql.oracle}</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.use_outer_join">false</prop>
				<prop key="hibernate.connection.release_mode">${hibernate.connection.release_mode}</prop>   
				
				
			</props>
		  </property>
		  		  
     </bean>
     <bean id="hibernateTemplate"
        class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory">
           <ref bean="sessionFactory" />
        </property>
        <property name="cacheQueries">
           <value>true</value>
        </property>
    </bean>
     <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	 </bean> 
</beans>