FBODY
{
	padding: 0px;
	margin: 0px;
    font-size: 12px; 
    border-color: #808080 #FFFFFF #FFFFFF #808080; 
    border-width:0px;
    SCROLLBAR-FACE-COLOR: #7aa1e6; 
    SCROLLBAR-HIGHLIGHT-COLOR: #7aa1e6; 
    SCROLLBAR-SHADOW-COLOR: #7aa1e6; 
    SCROLLBAR-ARROW-COLOR: #ffffff; 
    SCROLLBAR-TRACK-COLOR: #7aa1e6; 
    SCROLLBAR-DARKSHADOW-COLOR: #000000; 
    SCROLLBAR-BASE-COLOR: #ffffff
}
A:link
{
    COLOR: #0000ff;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #0000ff; TEXT-DECORATION: none
}
A:visited
{
    COLOR: #0000ff; TEXT-DECORATION: none
}
A:hover {
    COLOR: #ff0000; TEXT-DECORATION: none
}
TABLE
{
    FONT-FAMILY: 宋体;
    FONT-SIZE: 9pt
}
.ToolBar
{
	cursor:hand;
    border-Left='1px solid #e0e0e0';
    border-Top='1px solid #e0e0e0';
    border-Right='1px solid #e0e0e0';
    border-Bottom='1px solid #e0e0e0';
    behavior:url(../htc/header.htc)
}
.ToolBarEx
{
	cursor:hand;
    border-Left='1px solid #e0e0e0';
    border-Top='1px solid #e0e0e0';
    border-Right='1px solid #e0e0e0';
    border-Bottom='1px solid #e0e0e0'
}
.TextStyleA
{
    BORDER-BOTTOM: #0066ff 1px solid;
    BORDER-LEFT: #0066ff 1px solid;
    BORDER-RIGHT: #0066ff 1px solid;
    BORDER-TOP: #0066ff 1px solid;
    SCROLLBAR-FACE-COLOR: #7aa1e6; 
    SCROLLBAR-HIGHLIGHT-COLOR: #7aa1e6; 
    SCROLLBAR-SHADOW-COLOR: #7aa1e6; 
    SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
    SCROLLBAR-ARROW-COLOR: #ffffff; 
    SCROLLBAR-TRACK-COLOR: #7aa1e6; 
    SCROLLBAR-DARKSHADOW-COLOR: #000000; 
    SCROLLBAR-BASE-COLOR: #ffffff
}
.TextStyleB
{
    BACKGROUND-COLOR: #f0f0f0;
    BORDER-BOTTOM: #3333ff 1px solid;
    BORDER-LEFT: #3333ff 1px solid;
    BORDER-RIGHT: #3333ff 1px solid;
    BORDER-TOP: #3333ff 1px solid;
    SCROLLBAR-FACE-COLOR: #7aa1e6; 
    SCROLLBAR-HIGHLIGHT-COLOR: #7aa1e6; 
    SCROLLBAR-SHADOW-COLOR: #7aa1e6; 
    SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
    SCROLLBAR-ARROW-COLOR: #ffffff; 
    SCROLLBAR-TRACK-COLOR: #7aa1e6; 
    SCROLLBAR-DARKSHADOW-COLOR: #000000; 
    SCROLLBAR-BASE-COLOR: #ffffff
}
.TextStyleC
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #3333ff 1px solid;
    BORDER-LEFT: #3333ff 0px solid;
    BORDER-RIGHT: #3333ff 0px solid;
    BORDER-TOP: #3333ff 0px solid;
    SCROLLBAR-FACE-COLOR: #7aa1e6; 
    SCROLLBAR-HIGHLIGHT-COLOR: #7aa1e6; 
    SCROLLBAR-SHADOW-COLOR: #7aa1e6; 
    SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
    SCROLLBAR-ARROW-COLOR: #ffffff; 
    SCROLLBAR-TRACK-COLOR: #7aa1e6; 
    SCROLLBAR-DARKSHADOW-COLOR: #000000; 
    SCROLLBAR-BASE-COLOR: #ffffff
}
.TextStyleD
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #ffa500 1px solid;
    BORDER-LEFT: #ffa500 1px solid;
    BORDER-RIGHT: #ffa500 1px solid;
    BORDER-TOP: #ffa500 1px solid;
    SCROLLBAR-FACE-COLOR: #7aa1e6; 
    SCROLLBAR-HIGHLIGHT-COLOR: #7aa1e6; 
    SCROLLBAR-SHADOW-COLOR: #7aa1e6; 
    SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
    SCROLLBAR-ARROW-COLOR: #ffffff; 
    SCROLLBAR-TRACK-COLOR: #7aa1e6; 
    SCROLLBAR-DARKSHADOW-COLOR: #000000; 
    SCROLLBAR-BASE-COLOR: #ffffff
}
.ButtonStyleA
{
    BACKGROUND-COLOR: #e0e0e0;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #f0f0f0 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #f0f0f0 1px solid;
    FONT-FAMILY: 宋体;
    FONT-SIZE: 9pt;
    PADDING-TOP: 1px;
    WIDTH:72px
}
.ButtonStyleB
{
    BACKGROUND-COLOR: #e0e0e0;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-FAMILY: 宋体;
    FONT-SIZE: 9pt;
    PADDING-TOP: 1px;
    WIDTH:72px;
    HEIGHT:20px
}
.ButtonStyleC
{
    BACKGROUND-COLOR: #e0e0e0;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #f0f0f0 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #f0f0f0 1px solid;
    FONT-FAMILY: 宋体;
    FONT-SIZE: 9pt;
    PADDING-TOP: 1px;
    WIDTH:36px;
    HEIGHT:18px
}
.DivStyleA 
{
    MARGIN: 0px; 
    LEFT: 0px; 
    TOP: 0px; 
    Z-INDEX: 126
}
.ee
{
    border-bottom: 1 solid #154F8E;
}
.ff {
	border-bottom-width: 1pt;
	border-bottom-style: dotted;
	border-bottom-color: #769fcd;
}

.gg
{
    border-top: 1 solid #154F8E;
}


 td		{font-size:9pt; font-family:??;}
.mounsemenuon {
	background-color: #E9E9E9;
}
.mounsemenuover {
	background-color: #FFFFFF;
}
